####################################
# Telegram
####################################

TELEGRAM_TOKEN=

TELEGRAM_CHAT_ID=

####################################
# Email
####################################

EMAIL_USER=

EMAIL_PASS=

EMAIL_DESTINO=

####################################
# Gemini
####################################

GEMINI_API_KEY=

####################################
# Configuração
####################################

LOG_LEVEL=INFO

CACHE_DIAS=180
